In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("input_mockup.csv")

In [6]:
df.head()

       date       event             name            email
0  11/23/20   training1   edith fakename   fake@email.com
1  11/23/20   training1     john fakeout     no@email.com

In [14]:
# map input columns to output columns
# WARNING - these column names repeat... so they're probably incorrect

CampID = 0
EVCat = 0
EVType = 0
EVName = 0
EventID = 0
EVInactive = 0
EVLoc = 0
EvAttrCat = 0
EVAttrDesc = 0
EvAttrCat = 0
EVAttrDesc = 0
EvAttrCat = 0
EVAttrDesc = 0
EvAttrCat = 0
EVAttrDesc = 0
EvAttrCat = 0
EVAttrDesc = 0

In [15]:
# define output columns to construct DF
# TO DO:  needs auto-fill (or user-input) for columns with no corresponding input data

# output_df = "CampID,EVCat,EVType,EVName,EventID,EVInactive,EVLoc,EvAttrCat,EVAttrDesc,EvAttrCat,EVAttrDesc,EvAttrCat,EVAttrDesc,EvAttrCat,EVAttrDesc,EvAttrCat,EVAttrDesc"